<!-- app/views/games/score.html.erb -->

<h1><%= @message %></h1>

<%# Display the current word's score %>
<h2>Current Word Score: <%= @current_word_score || 0 %></h2>

<%= link_to 'Play again', new_game_path %>
