<!-- app/views/games/score.html.erb -->

<h1>Result</h1>

<p class="message"><%= @message %></p>

<%# Display the current word's score %>
<h2>Current Word Score: <%= @current_word_score || 0 %></h2>

<div class="btn"><%= link_to 'Play again', new_game_path %></div>
